@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
  body
  {
    margin:0;
  }
  a
  {
    text-decoration: none!important;
  }
	.dev-form-controller
	{
		margin-bottom: 5px;
	}
	.dev-login-form
	{
		margin-left: 35%!important;
		margin-top: 15%!important;
	}
    .box {
    
  border: 2px solid #000;
  margin: 0 auto 15px;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  border-radius: 10px;
}

.info {
  background-color: #ddd;
  border-color: #aaa; 
}

.warning {
  background-color: #FFF484;
  border-color: #DCC600;
}

.success {
  background-color: #B9FFAB;
  border-color: #116400;
  color: #116400;
}

.error {
  background-color: #EBB1B1;
  border-color: #973939;
  color: #973939;
}
.isa_info, .isa_success, .isa_warning, .isa_error {
margin: 10px 0px;
padding:12px;
 
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 5px;
    font-size:2em;
    vertical-align:middle;
}

.app-row div
{
  display: inline-block;
  margin:5px;

}
.app-nav
{
  width: 50%;
}
